// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 20px 0 0 20px;
}

.box {
  display: flex;
  justify-content: flex-start;
}

footer {
  margin: 20px 0 0 40px;
}

.footer-heading {
  margin-bottom: 10px;
}

.footer-title {
  font-size: 13px;
}

.footer-body {
  margin-top: 10px;
  font-size: 13px;
}

.btn {
  margin-top: 5px;
}

.show-box1 {
  margin: 30px 0 30px 60px;
}

.show-box2 {
  margin-left: 60px;
}

.show-title {
  display: inline-block;
  margin-right: 5px;
}

.show-body {
  display: inline-block;
  margin-right: 5px;
}

.show-one,
.show-edit,
.show-back {
  display: inline-block;
  font-size: 13px;
}

.box3 {
  margin: 20px 0 0 30px;
}

.edit-box {
  margin: 30px 0 0 30px;
}

.edit-title,
.edit-body {
  margin-top: 10px;
  font-size: 13px;
}

.edit-one,
.edit-show,
.edit-back {
  display: inline-block;
  font-size: 13px;
}

.edit-btn {
  margin: 5px 0;
}

.error-box {
  width: 450px;
  height: 130px;
  border: 3px solid red;
  background-color: #f0f0f0;
}

.error-count {
  height: 30px;
  width: 447px;
  background-color: red;
  color: white;
  line-height: 30px;
  padding-left: 20px;
}

.error-text {
  font-size: 12px;
}

.error-message {
  margin: 30px 0 0 70px;
}

.table-title {
  width: 190px;
}

.table-body {
  width: 400px;
}

.table-colspan {
  width: 140px;
}

table {
  margin-left: 30px;
}

td {
  padding: 0 5px 7px 5px;
}

.linkto {
  color: black;
}

.linkto:hover {
  background-color: black;
  color: white;
}