// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin: 20px 0 20px 20px;
}

.heading-book {
  margin: 0 8px;
}

.text-top,
.text-bottom {
  margin: 0 0 30px 45px;
}

.start {
  margin-left: 45px;
}

.text-book {
  margin-right: 5px;
}